    header {
        background: green;
        color: #fff;
        padding: 1px 20px;
        padding-bottom: 50px;
        border-radius: 20px;
    }
    
    
    p {
        background: hsl(200,50%,50%);
    }


    img {
        border-radius: 20px;
    }

    img,
    figcaption {
        border: 1px dashed #140cb5;
    }

    .img-02 img {
        border-radius: 50px; 
    }

    .img-03 img {
        border-radius: 80px; 
    }

    #img-02 figcaption {
        border: 5px dotted #0ec61a;
    }

    .img-02 figcaption {
        border: 5px dotted #c16f23;
    }