   /*
RESET
*/

   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }


   img {
       display: block;
       width: 100%;
   }




   /*
LAYOUT
*/


   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
       margin-bottom: 1em;
   }


   .gallery figure {
       width: 25%;
       padding: 2px;
   }


   .gallery-standard {
       display: flex;
       flex-wrap: wrap;
   }

   .gallery-masonry {
       column-count: 3;
   }


   .gallery-masonry figure {
       width: 100%;
   }



   /*
COLOR
*/

   body {
          background: #bbb;
   }


   #header {
       background: #999;
       color: #222;
       padding: 10px;
       border-radius: 24px 24px 0 0;
       font-size: 1.5em;
   }
